<!-- main content start-->
		<div id="page-wrapper">
			<div class="main-page login-page ">
				<h2 class="title1">Đổi mật khẩu</h2>
				<div class="widget-shadow">
					<div class="login-body">
						<form action="#" method="post">
							<input type="password"  name="oldPassword" placeholder="Mật khẩu cũ" required="">
							<input type="password" name="newPassword"  placeholder="Mật khẩu mới" required="">
                            <input type="password" name="confirmPassword"  placeholder=" Xác nhận mật khẩu" required="">
							<input type="submit" name="Sign In" value="Đồng ý">
							
						</form>
					</div>
				</div>
				
			</div>
		</div>