<!-- main content start-->
		<div id="page-wrapper">
			<div class="main-page">
				<h2 class="title1">Quản lý đơn hàng</h2>
				<div class="elements">
					<!--photoday-section-->	
                    	<div class="wthree-crd widgettable">
                            <div class="card">
                                <div class="card-body">
							<div class="agileinfo-cdr">
                                <hr class="widget-separator">
                                        <div class="widget-body">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Mã đơn hàng</th>
                                                        <th>Mã khách hàng</th>
                                                        <th>Tổng tiền (đ)</th>
                                                        <th>Ngày giao</th>
														<th>Tình trạng</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>DH0001</td>
                                                        <td>KH0001</td>
                                                        <td>250 000</td>
                                                        <td>20/04/2019</td>
														<td>Đã giao</td>
                                                    </tr>
                                                   <tr>
                                                        <td>DH0002</td>
                                                        <td>KH0002</td>
                                                        <td>100 000</td>
                                                        <td>25/04/2019</td>
														<td>Đã giao</td>
                                                    </tr>
                                                    <tr>
                                                        <td>DH0003</td>
                                                        <td>KH0003</td>
                                                        <td>150 000</td>
                                                        <td>20/05/2019</td>
														<td>Chưa giao</td>
                                                    </tr>
                                                    <tr>
                                                        <td>DH0004</td>
                                                        <td>KH0004</td>
                                                        <td>175 000</td>
                                                        <td>12/05/2019</td>
														<td>Đang giao</td>
                                                    </tr>
                                                    <tr>
                                                        <td>DH0005</td>
                                                        <td>KH0005</td>
                                                        <td>800 000</td>
                                                        <td>21/04/2019</td>
														<td>Đã giao</td>
                                                    </tr>
                                                    <tr>
                                                        <td>DH0006</td>
                                                        <td>KH0006</td>
                                                        <td>320 000</td>
                                                        <td>29/04/2019</td>
														<td>Đã giao</td>
                                                    </tr>
                                                    <tr>
                                                        <td>DH0007</td>
                                                        <td>KH0007</td>
                                                        <td>258 000</td>
                                                        <td>27/05/2019</td>
														<td>Chưa giao</td>
                                                    </tr>
                                                    <tr>
                                                        <td>DH0008</td>
                                                        <td>KH0008</td>
                                                        <td>900 000</td>
                                                        <td>10/04/2019</td>
														<td>Đã giao</td>
                                                    </tr>
                                                </tbody>
                                            </table>    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
		</div>
	</div>