<!-- main content start-->
		<div id="page-wrapper">
			<div class="main-page">
				<h2 class="title1">Doanh thu</h2>
                <div class="container">
                        <div class="row">
                            <label for="dtp_input2" class="control-label col-sm-1">Từ:</label>
                            <div class="form-group col-sm-5">
                                    
                                    <div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                        <input class="form-control" size="16" type="text" value="" readonly>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                    <input type="hidden" id="dtp_input2" value="" /><br/>
                                </div>
                                <label for="dtp_input2" class="control-label col-sm-1">Đến:</label>
                                <div class="form-group col-sm-5">
                                    
                                    <div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                        <input class="form-control" size="16" type="text" value="" readonly>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                    <input type="hidden" id="dtp_input2" value="" /><br/>
                                </div> 
                        </div>
                </div>
			 
    
            </div>
				<div class="elements">
					<!--photoday-section-->	
                    	<div class="wthree-crd widgettable">
                            <div class="card">
                                <div class="card-body">
							<div class="agileinfo-cdr">
                                <hr class="widget-separator">
                                        <div class="widget-body">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Ngày bắt đầu</th>
                                                        <th>Ngày két thúc</th>
                                                        <th>Doanh thu (triệu)</th>
                                                        <th>Tổng sản phẩm</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>22/12/2018</td>
                                                        <td>22/12/2019</td>
                                                        <td>452</td>
                                                        <td>15021</td>
                                                    </tr>
                                                   <tr>
                                                        <td>22/12/2018</td>
                                                        <td>22/12/2019</td>
                                                        <td>452</td>
                                                        <td>15021</td>
                                                    </tr>
                                                    <tr>
                                                        <td>22/12/2018</td>
                                                        <td>22/12/2019</td>
                                                        <td>452</td>
                                                        <td>15021</td>
                                                    </tr>
                                                    <tr>
                                                        <td>22/12/2018</td>
                                                        <td>22/12/2019</td>
                                                        <td>452</td>
                                                        <td>15021</td>
                                                    </tr>
                                                    <tr>
                                                        <td>22/12/2018</td>
                                                        <td>22/12/2019</td>
                                                        <td>452</td>
                                                        <td>15021</td>
                                                    </tr>
                                                    <tr>
                                                        <td>22/12/2018</td>
                                                        <td>22/12/2019</td>
                                                        <td>452</td>
                                                        <td>15021</td>
                                                    </tr>
                                                </tbody>
                                            </table>    
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>

                    <!--Bán chạy -->
                    <h2 class="title1">Sản phẩm bán chạy</h2>
                    <div class="row-one widgettable">
			<div class="col-md-9 content-top-2 card">
				<div class="agileinfo-cdr">
					
						<div id="Linegraph" style="width: 100%; height: 372px" >
							
						</div>
						
				</div>
			</div>
		

			<div class="col-md-3 stat">
				<div class="content-top-1">
				<div class="col-md-8 top-content">
					<h5>Doanh thu tăng</h5>
					<label>110 triệu</label>
				</div>
				<div class="col-md-4 top-content1">	   
					<div id="demo-pie-1" class="pie-title-center" data-percent="45"> <span class="pie-value"></span> </div>
				</div>
				 <div class="clearfix"> </div>
				</div>
				<div class="content-top-1">
				<div class="col-md-8 top-content">
					<h5>Lợi nhuận tăng</h5>
					<label>50 triệu</label>
				</div>
				<div class="col-md-4 top-content1">	   
					<div id="demo-pie-2" class="pie-title-center" data-percent="75"> <span class="pie-value"></span> </div>
				</div>
				 <div class="clearfix"> </div>
				</div>
				<div class="content-top-1">
					<ul  style="list-style: none;">
					
						<li>
							<div class="progress progress-striped active" style="height:15px;">
								<div class="bar yellow" style="width:100%;">Thực phẩm</div>
							</div>
						</li>
						<li>
							<div class="progress progress-striped active" style="height:15px;">
								<div class="bar green" style="width:100%;">Đồ gia dụng</div>
							</div>
						</li>
						<li>
							<div class="progress progress-striped active" style="height:15px;">
								<div class="bar light-blue" style="width:100%;">Mẹ và bé</div>
							</div>
						</li>
						<li>
							<div class="progress progress-striped active" style="height:15px;">
								<div class="bar red" style="width:100%;">Đồ uống</div>
							</div>
						</li>
						<li>
							<div class="progress progress-striped active" style="height:15px;">
								<div class="bar orange" style="width:100%;">Ăn vặt</div>
							</div>
						</li>
						
					</ul>
				</div>
			</div>
			
			<div class="clearfix"> </div>
            <!-- for amcharts js -->
			<script src="/javascripts/amcharts.js"></script>
			<script src="/javascripts/serial.js"></script>
			<script src="/javascripts/export.min.js"></script>
			<link rel="stylesheet" href="/stylesheets/export.css" type="text/css" media="all" />
			<script src="/javascripts/light.js"></script>
	<!-- for amcharts js -->
		</div>
		</div>
	</div>
    <script type="text/javascript" src="/javascripts/jquery-1.8.3.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="/javascripts/locales/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>
<script type="text/javascript">
   
	$('.form_date').datetimepicker({
        language:  'en',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 2,
		forceParse: 0
    });
	
</script>